[Unit]
Description=CrowdControl Object-Service

[Service]
Type=simple
WorkingDirectory=/git/crowdcontrol/object-service
ExecStart=/git/crowdcontrol/object-service/gradlew run
Restart=always
RestartSec=1
TimeoutSec=1
User=crowdcontrol

[Install]
WantedBy=multi-user.target